@import './mixin';
@import './variables';

.proposal-top-wrap {
  //   background-color: blueviolet;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .btn-prev {
    margin-right: 8px;
  }
  .proposal-top-btn-wrap {
    margin-bottom: 40px;
    display: flex;
    h2 {
      @include B24;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 100%; /* 24px */
      //   background-color: aqua;
      align-items: center;
      // margin-left: 8px;
    }

    .proposal-select {
      margin-top: 48px;
      display: flex;
      min-height: 40px;
    }
  }

  .proposal-select-wrap {
    display: flex;
    flex-direction: column;

    .select-label {
      @include B20;
      line-height: 100%;
      margin-bottom: 20px;
    }

    .ant-select-selection--single {
      color: $gray;

      height: auto;
      padding: 16px 20px;
      box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      margin: 0;
      border: 1px solid $gray4;
    }
    .ant-select-selection__rendered {
      margin-left: 0px;
      line-height: 100%;
      .ant-select-selection-selected-value {
        overflow: visible;
      }
    }
  }
}

// proposal input
.proposal-form {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid $gray4;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  // proposal input
  .textfield-contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    .textfield-wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
      }

      @include sm {
        gap: 20px;
      }

      .voting-input-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // justify-content: space-between;
        gap: 0px;
        &.distribution {
          .input-area {
            input {
              background-color: white;
              text-align: end;
              padding-right: 0px;
            }
            &.not-value {
              border: none;
              input {
                padding-right: 20px;
              }
              input::placeholder {
                @include R14;
                line-height: 100%;
              }
            }
          }
          flex-direction: column;
        }
        // block distribution
        &.creative {
          .input-area {
            input {
              background-color: white;
            }
            &.not-value {
              border: none;
            }
          }
        }
        &.check-balance {
          flex-direction: column;
        }
        &.double-box {
          flex-direction: column;
        }
        .box-wrap {
          width: 100%;

          @include sm {
            width: 100%;
          }

          .multi-input-box {
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 12px;
          }

          .error-massage {
            @include errMsgState;
          }
        }

        .button-input-box {
          display: flex;
          width: 100%;
          @include xsm {
            flex-direction: column;
            width: 100%;
          }
          .input-wrap {
            width: 100%;
          }
          .input-button {
            @include B16;
            line-height: 100%;
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            color: $gray;
            height: 46px;
            white-space: nowrap;
            border-radius: 8px;
            border: 1px solid $gray2;
            background: #fff;
            margin-left: 20px;
            &:disabled {
              opacity: 0.3;
            }
            @include xsm {
              width: 100%;
              margin: 0px;
            }
          }
        }
        .multi-input-box {
          display: flex;
          flex-wrap: wrap;
          width: 65%;
          gap: 0 11px;

          @include xsm {
            flex-direction: column;
            align-items: center !important;
            justify-content: center !important;
            .hyphen {
              padding-top: 0px !important;
              height: auto !important;
            }
            .input-cell {
              width: 100%;
            }
          }
          @include sm {
            width: 100%;
            gap: 5px;
          }

          .hyphen {
            padding-top: 24px;
            display: flex;
            align-items: center;
            height: calc(48px + 24px);
            color: #595959;
          }

          .input-cell {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;
            .disabled {
              border-radius: 8px;
              // border: 1px solid $gray4;
              input {
                background-color: $gray5;
              }
            }
          }
          .input-cell-title {
            display: block;
            @include R14;
            font-weight: 400;
            line-height: 100%;
            margin-bottom: 0px;
          }
          .input-wrap {
            // width: calc(
            //   ((741px - 32.5px * var(--hyphen-count)) / var(--input-count))
            // );

            @include xsm {
              width: 100%;
            }

            .input-area {
              width: 100%;
            }
          }

          .error-massage {
            @include errMsgState;
          }
        }
        .description {
          @include R12;
          line-height: 150%;
          display: block;
          color: #8c8c8c;
          width: 100%;
          margin-bottom: 12px;
          @include sm {
            padding: 0;
          }
        }

        @include sm {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0px;
        }

        strong {
          @include B14;
          line-height: 100%;
          margin-bottom: 12px;
        }

        .important {
          color: red;
        }

        .required {
          color: red;
        }

        .double-input-box {
          display: flex;
          flex-direction: column;
          width: 100%;
          line-height: 12px;
          input {
            border: none !important;
            background-color: white !important;
          }

          .box-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;

            .input-wrap {
              width: 100%;
            }
          }

          .error-massage {
            width: 91%;
            margin-left: 4.5%;
            @include errMsgState;

            @include sm {
              margin-left: 0;
            }
          }

          @include sm {
            width: 100%;

            .input-wrap {
              .description {
                display: none;
              }
            }
          }

          + .description {
            padding-left: 41%;

            @include sm {
              padding-left: 0;
            }
          }
        }
      }
    }

    .voting-duration {
      display: flex;

      width: 100%;

      justify-content: space-between;
      @include sm {
        flex-direction: column;
        gap: 30px;
      }

      .voting-duration-wrap {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        width: 100%;
        @include sm {
          flex-direction: column;
          gap: 5px;
          align-items: flex-start;
          .ant-select {
            width: 100% !important;
          }
        }
        .ant-select-selection--single {
          // width: 65%;
          height: 46px;
          height: auto;
          padding: 16px 20px;
          border-radius: 8px;
          border-radius: 8px;
          border: 1px solid $gray4;
          background: #fff;
        }
        .ant-select-selection__rendered {
          @include R14;
          line-height: 100%;
          margin-left: 0px;
        }
        strong {
          @include B14;
          line-height: 100%;
          margin-bottom: 12px;
        }

        .important {
          color: red;
        }

        .required {
          color: red;
        }
      }

      .submit-btn {
        color: #fff;
        background-color: #323cff;
        opacity: 0.3;
        border-radius: 0;
        border: none;
        width: 160px;
        height: 52px;

        @include sm {
          width: 100%;
        }
      }
    }

    // my info footer
    .myinfo-footer {
      display: flex;
      border-top: 1px solid #d9d9d9;
      width: 100%;
      margin-top: 40px;
      padding-top: 24px;
      justify-content: flex-end;
    }
  }

  .voting-proposal {
    padding: 30px;
    background-color: #fff;
    @include sm {
      padding: 16px;
    }
  }
}
.input-wrap {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @include sm {
    width: 100%;
  }

  &.disabled {
    .input-area {
      // background-color: #f2f2f2;
      &.default {
        background-color: $gray5;
        input:disabled {
          @include R14;
          line-height: 150%; /* 21px */

          color: $gray3;
        }
      }

      input {
        font-feature-settings: 'calt' off;
        &::input-placeholder {
          color: #a6a6a6;
        }

        &:placeholder {
          color: #a6a6a6;
        }

        &::placeholder {
          color: #a6a6a6;
        }

        &:input-placeholder {
          color: #a6a6a6;
        }
      }
    }
    .textarea-wrap {
      background-color: #f2f2f2;
      border: none !important;

      span {
        color: #a6a6a6 !important;
      }
      textarea {
        font-feature-settings: 'calt' off;
        border: none !important;
      }

      textarea {
        &::input-placeholder {
          color: #a6a6a6;
        }

        &:placeholder {
          color: #a6a6a6;
        }

        &::placeholder {
          color: #a6a6a6;
        }

        &:input-placeholder {
          color: #a6a6a6;
        }
      }
    }
  }

  &.multiline {
    align-items: flex-start;

    @include sm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      color: #8c8c8c;
      display: block;
    }
    .error-massage {
      @include errMsgState;
    }
    .textarea-wrap {
      width: 100%;
      height: 200px;
      position: relative;
      border: 1px solid $gray4;
      padding: 16px 20px;
      border-radius: 8px;
      &.my-form {
        @include R14;
        padding: 0;
        height: auto;
        background-color: transparent;
        line-height: 150%;

        textarea {
          overflow: hidden;
          border: 1px solid $gray4 !important;
          padding: 16px 20px;
          height: 46px;
          background-color: $gray5;
          border-radius: 8px;
          line-height: 100%;
        }
        @media screen and (max-width: 465px) {
          textarea {
            height: auto;
          }
        }

        textarea:disabled {
          color: $gray3;
        }

        .addr-wrap {
          display: none;
        }
        span {
          display: none;
        }
      }
      &.focus-on {
        border: 1px solid #323cff;
      }

      textarea {
        padding: 0px;
        font-feature-settings: 'calt' off;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 104px;
        resize: none;
        text-align: start;
        @include R14;
        color: $gray;
        line-height: 200%; /* 28px */
        letter-spacing: -0.3px;
        @include sm {
          width: 100%;
          font-size: 14px;
        }

        &:disabled {
          opacity: 1;
          color: #d9d9d9;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
      textarea::placeholder {
        @include R14;
        color: $gray;
        line-height: 200%; /* 28px */
        letter-spacing: -0.3px;
      }

      .addr-wrap {
        display: flex;
        @include R14;
        position: absolute;
        right: 1px;
        top: -28px;
        // transform: translate(-2%, -5%);
        color: $gray3;
        @include sm {
          top: -29px;
        }
        @include xsm {
          top: -30px;
        }
      }
      .addr-length {
        color: black;
      }
    }

    &.error {
      .textarea-wrap {
        border: 1px solid $critical;
      }
    }
  }

  .input-top-area {
    width: 100%;

    &.prefix {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include sm {
        > span {
        }
      }

      > span {
        @include R14;
        line-height: 100%;
        min-width: 27px;
        margin-right: 20px;
      }
      > input {
        @include R14;
        line-height: 100%;
        color: $gray;
      }
      > input::placeholder {
        @include R14;
        line-height: 100%;
        color: $gray3;
      }
    }
    // enter 버튼이 있을 때
    &.enter {
      display: flex;
      width: 100%;

      border: none;
      .input-area {
        // border: none;
        width: 100%;
        border-radius: 8px;
        // border: 1px solid $gray4;

        // &.default {
        //   border: 1px solid $gray4;
        // }
        // &.focus-on {
        //   border: 1px solid $blue1;
        // }
        // &.error {
        //   border: 1px solid $critical;
        //   background: none;
        // }
      }
      .error-massage {
        position: absolute;
        top: 40px;
        left: 0px;
      }
      @include xsm {
        flex-direction: column;
        gap: 20px;
      }
    }

    @include sm {
      width: 100%;
    }
    .description {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #8c8c8c;
      margin-top: 4px;
      display: block;
    }
    .error-massage {
      @include errMsgState;
    }

    .input-area {
      width: 100%;
      position: relative;
      border: 1px solid $gray4;
      display: flex;
      border-radius: 8px;
      max-height: 46px;
      input {
        border-radius: 8px;
      }

      &.focus-on {
        border: 1px solid #323cff;
      }
      //에러 케이스
      &.error {
        border: 1px solid $critical;
        background: none;

        &.focus-on {
          border: none;
        }

        input {
          // outline: none;
          // border: none;

          &:focus {
            outline: none;
          }
        }

        &.focus-on {
          border: 1px solid #eb524f;
          &::after {
            display: none;
          }
        }
      }
      //suffix일때 케이스
      &.suffix {
        &.not-value {
          input {
            border-radius: 8px;
            border: 1px solid $gray4;
            background: $gray5;
          }
        }
        &.superPrefix {
          display: flex;
          flex-direction: column;
          border: none;
          span {
            @include R14;
            width: 45%;
            font-weight: 700;
            color: black;
            margin-bottom: 12px;
          }
          span:last-child {
            color: red;
          }

          input {
            padding: 10px;
            border-radius: 10px;

            background-color: #fff;
            border: 1px solid rgb(212, 212, 212);
          }
          .text-place {
            display: none;
          }
        }
        input {
          @include R14;
          color: $gray;
        }

        .text-place {
          display: flex;
          align-items: center;
          white-space: nowrap;
          padding: 16px 20px 16px 0px;
          @include R12;
          color: $gray;
        }
      }

      //perfix일때 케이스
      &.prefix {
        &.not-value {
          input {
            padding: 10px 16px 10px 16px;
          }
        }
        input {
          order: 2;
          text-align: start;
          font-weight: 400;
          padding: 10px 35px 10px 0px;

          @include sm {
            padding: 10px 35px 10px 0px;
          }
        }

        .text-place {
          display: flex;
          align-items: center;
          white-space: nowrap;
          padding: 11px 8px 10px 15px;

          @include sm {
            font-size: 14px;
          }
        }
      }

      &.readonly {
        background-color: $gray5;
        border: 1px solid $gray4 !important;
        color: $gray3 !important;
        input {
          border: none !important;
        }
        span {
          @include R12;
          color: $gray3 !important;
        }
      }
      &.locked {
        background-color: $gray5;
        input {
          border: none !important;
        }
        span {
          @include R12;
          color: $gray3 !important;
        }
      }
      // enter 버튼이 있을 때
      // &.enter {
      //   border: none;
      //   @include xsm {
      //     flex-direction: column;
      //     gap: 20px;
      //   }

      //   input {
      //     border: 1px solid $gray4;
      //     border-radius: 8px;
      //     &.default {
      //       border: 1px solid $gray4;
      //     }
      //     &.focus-on {
      //       border: 1px solid $blue1;
      //     }
      //     &.error {
      //       border: 1px solid $critical;
      //       background: none;
      //     }
      //   }
      // }

      //input 기본값
      input {
        @include R14;
        // color: $gray3;
        border: none;
        background-color: transparent;

        width: 100%;
        padding: 16px 20px;
        text-align: start;

        @include sm {
          font-size: 14px;
          height: 44px;
        }

        &:disabled {
          opacity: 1;
          color: $gray20;
        }

        &:read-only {
          opacity: 1;
          color: $gray20;
        }

        &:focus {
          outline: none;
        }
      }
      input::placeholder {
        color: $gray3;
      }
    }
  }
}

.gov_btn_wrapper {
  @include B16;
  display: flex;
  width: 190px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  background-color: $blue1;
  color: white;
  border-radius: 8px;

  @include xsm {
    width: 100%;
  }
}

.reference-wrap {
  margin-top: 24px;

  .reference-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background: url('#{$rootPath}/ico_desc_warning.svg') no-repeat;
    }
  }

  .reference-list {
    padding: 0 15px;
    margin-top: 7px;
    .reference-list-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $gray;
      display: flex;
      position: relative;
      align-items: center;
      padding-left: 15px;

      &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $gray;
        left: 0;
        top: 8px;
        // transform: translate(0, -50%);
      }
    }
  }
}
