.Collapsible {
  padding: 5px 5px;
  width: 80%;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  position: relative;
  line-height: 22px;
  border-color: #e0dcdc;
  border-style: double;
  border-radius: 10px;
  font-family: auto;
}

.Collapsible__trigger {
    margin-bottom: 10px;
    display: block;
    color: black;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0,0,0,.04);
    font-size: larger;
    outline: none;
}

.contentDiv{
  padding: 0 15%;
  border-radius: 10px;
}

.contentVotingDiv{
  padding: 0 20%;
  border-radius: 10px;
}

.ballotExplainDiv{
  padding: 2% 5%;
  
  height: 100px;
  margin: 3% 0 3% 0;
}

.authorityComp{
  background-color: #f9f0f0;
  margin: 3% 0%;
  height: 250px;
}

.snsGroup{
  border-radius: 100px;
  margin: 0 1%;
  float: right;
}

.ballotDiv {
  background-color: white;
  padding: 24;
  min-height: 400;
  height: 420px;
  margin-bottom: 2%;
  border-width: 1px;
  border-color: #f9f0f0;
  border-style: solid;
}

.ballotInfoDiv{
  background-color: #f9f0f0;
  padding: 0.5% 1% 0.5% 3%;
  margin-bottom: 2%;
  height: 80px;
}

.ballotInfoDiv h4{
  margin-bottom: 0.05em;
}

.ballotDetailDiv {
  float: left;
  margin-right: 2%;
}

.apply_proposal_Btn{
  float: right;
  border-radius: 20px;
  background-color: #363333;
  color: white;
  width: 18%;
  border-color: #363333;
  margin: 1% 1.5% 0% 0%
}

#noVotingBtn{
  float: left;
  margin: 0 2% 0 4%;
  height: 50px;
  background-color: firebrick;
  color: white;
}

#yesVotingBtn{
  float: right;
  margin: 0 4% 0 2%;
  height: 50px;
  background-color: teal;
  color: white;
}

#finalizeBtn{
  float: left;
  cursor: default;
  background-color: darkgray;
  border: 0px;
  color: inherit;
  width: 10%;
}

#detailBtn {
  float: left;
  border-radius: 30%;
  margin: 7% 10% 0 0;
}

#ballotDetailBtn {
  float: right;
}

.ant-progress-outer {
  width: 70%;
  margin-top: 2%;
}
.ant-progress {
  display: inline;
}
.ant-list-grid .ant-list-item {
  /* border-bottom: none; */
  padding-top: 0;
  padding-bottom: 0;
  /* margin-bottom: 16px; */
}