.Collapsible {
  padding: 5px 5px;
  width: 80%;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  position: relative;
  line-height: 22px;
  border-color: #e0dcdc;
  border-style: double;
  border-radius: 10px;
  font-family: auto;
}

.Collapsible__trigger {
    margin-bottom: 10px;
    display: block;
    color: black;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0,0,0,.04);
    font-size: larger;
    outline: none;
}

.contentVotingDiv{
  padding: 0 20%;
  border-radius: 10px;
}

.ballotExplainDiv{
  padding: 2% 5%;
  height: 100px;
  margin: 3% 0 3% 0;
}

.snsGroup{
  border-radius: 100px;
  margin: 0 1%;
  float: right;
  border: 0px;
}

.ballotDiv {
  background-color: white;
  padding: 24;
  min-height: 400;
  height: 420px;
  margin-bottom: 2%;
  border-width: 1px;
  border-color: #f9f0f0;
  border-style: solid;
}

.ballotInfoDiv{
  background-color: #f9f0f0;
  padding: 0.5% 1% 0.5% 3%;
  margin-bottom: 2%;
  height: 80px;
}

.ballotInfoDiv h4{
  margin-bottom: 0.05em;
}

.ballotDetailDiv {
  float: left;
  margin-right: 2%;
}

.submit_Btn{

  border-radius: 20px;
  background-color: #363333;
  color: white;
  border-color: #363333;
  width: 10%;
  margin: 2% 45%
}

#yesVotingBtn{
  float: left;
  margin: 0 2% 0 4%;
  height: 50px;
  background-color: teal;
  color: white;
}

#noVotingBtn{
  float: right;
  margin: 0 4% 0 2%;
  height: 50px;
  background-color: firebrick;
  color: white;
}

#finalizeBtn{
  float: left;
  cursor: default;
  background-color: darkgray;
  border: 0px;
  color: inherit;
  width: 10%;
}

#detailBtn {
  float: left;
  border-radius: 30%;
  margin: 7% 10% 0 0;
}

#ballotDetailBtn {
  float: right;
}

.ant-progress-outer {
  width: 70%;
  margin-top: 2%;
}
.ant-progress {
  display: inline;
}
.ant-list-grid .ant-list-item {
  /* border-bottom: none; */
  padding-top: 0;
  padding-bottom: 0;
  /* margin-bottom: 16px; */
}

/* Authority */

.background {
  background-color: #EEEEF0;
}

.contentDiv {
  margin: 0 auto;
  max-width: 1152px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.apply_proposal_Btn_container {
  padding: 24px 16px 16px 16px;
  display: flex;
  justify-content: flex-end;
}

.apply_proposal_Btn_container .apply_proposal_Btn {
  height: 40px;
  border-radius: 20px;
  color: #000000;
  padding: 0 20px;
} .apply_proposal_Btn_container .apply_proposal_Btn:hover {
  color: #ffffff;
  background-color: #261BC9;
}

.authorityComp{
  margin-bottom: 24px;
  padding: 0 16px;
} .authorityComp:last-child {
  margin-bottom: 64px;
}

.authorityComp .authorityComp_contnet {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} .authorityComp .authorityComp_contnet:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.authorityComp .authorityComp_contnet .img_container {
  width: 192px;
  height: 192px;
  margin-right: 16px;
  display: flex;
  align-content: center;
  overflow: hidden;
}

.authorityComp .authorityComp_contnet .img_container img {
  width: 100%;
}

.authorityComp .authorityComp_contnet .text_container {
  flex: 100;
  padding-left: 24px;
  border-left: #EEEEF0 solid 2px;
  display: flex;
  flex-direction: column;
}

.authorityComp .authorityComp_contnet .long {
  min-height: 192px;
}

.authorityComp .authorityComp_contnet .short {
  height: 192px;
}

.authorityComp .authorityComp_contnet .text_container .title {
  margin: 8px 0 0 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.authorityComp .authorityComp_contnet .text_container .address {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}

.authorityComp .authorityComp_contnet .text_container .description {
  flex: 100;
  margin: 12px 0 0 0;
  overflow: hidden;
}

.authorityComp .authorityComp_contnet .text_container .link_container {
  margin: 12px 0 0 0;
  display: flex;
  align-items: flex-end;
}

.authorityComp .authorityComp_contnet .text_container .more {
  line-height: 24px;
  color: #261BC9;
}

.authorityComp .authorityComp_contnet .text_container .SNSList {
  flex: 100;
  width: 24px;
  height: 24px;
}

.authorityComp .authorityComp_contnet .text_container .SNSList .snsGroup {
  margin: 0 0 0 8px;
}

.authorityComp .authorityComp_contnet .text_container .SNSList .snsGroup .fa-2x {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
}
