.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  width: 100%;
  height: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(17, 15, 15, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
}

.logoimg {
  height: 100%;
  object-fit: contain;
}

.searchDiv {
  line-height: 4;
  background-color: lightslategrey;
  padding: 0% 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */

.ant-layout-header {
  background: #ffffff;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
}

.ant-layout-header .ant-row {
  margin: 0 auto;
  max-width: 1152px;
  height: 100%;
  display: flex;
}

.ant-layout-header .ant-row .header-logo {
  width: 240px;
  display: flex;
  align-content: center;
  padding: 0 16px;
}

.ant-layout-header .ant-row .header-logo img {
  height: 24px;
  margin: 20px 16px 0 0;
}

.ant-layout-header .ant-row .header-logo span {
  font-size: 24px;
  font-weight: 600;
  color: #261BC9;
}

.ant-layout-header .ant-row .header-menu {
  width: 192px;
  height: 40px;
  margin: auto 0;
  padding: 0 16px;
  border-left: #261BC9 solid 2px;
}

.ant-layout-header .ant-row .header-menu .ant-menu-horizontal {
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
}

.ant-layout-header .ant-row .header-menu .ant-menu-horizontal .ant-menu-item {
  padding: 0 12px;
  line-height: 38px;
  color: #000000;
} .ant-layout-header .ant-row .header-menu .ant-menu-horizontal .ant-menu-item-selected {
  color: #261BC9;
  border-color: #261BC9;
} .ant-layout-header .ant-row .header-menu .ant-menu-horizontal .ant-menu-item-active {
  color: #261BC9;
  border-color: #261BC9;
}

.ant-layout-header .ant-row .header-staking {
  flex: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
}

.ant-layout-header .ant-row .header-staking div {
  padding: 0 12px 0 16px;
  flex: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-layout-header .ant-row .header-staking div p {
  line-height: 1.5;
  margin: 0;
  text-align: end;
} .ant-layout-header .ant-row .header-staking div .staked {
  color: #000000;
} .ant-layout-header .ant-row .header-staking div .meta {
  font-size: 12px;
}

.ant-layout-header .ant-row .header-staking button {
  background: #261BC9 ;
  height: 40px;
}

/* footer */

.ant-layout-footer {
  padding: 0;
  background-color: #ffffff;
}

.ant-layout-footer .ant-row {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1152px;
  display: flex;
  align-items: center;
}

.ant-layout-footer .ant-row p {
  margin: 8px 0 8px 0;
}

.ant-layout-footer .ant-row div {
  margin: 8px 0 8px 0;
  flex: 100;
  display: flex;
  justify-content: flex-end;
}

.ant-layout-footer .ant-row div .ant-btn {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 16px;
  background-color: #000000;
}

/* modal */
.stakingModal .ant-modal-body p {
  margin-bottom: 8px;
}

.stakingModal .ant-modal-body .ant-select {
  width: 100%;
  margin-bottom: 16px;
}

.ant-modal-footer .ant-btn-primary {
  background: #261BC9 ;
  border: 0;
}