.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  width: 100%;
  height: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(17, 15, 15, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
}

.logoimg {
  height: 100%;
  object-fit: contain;
}

.searchDiv {
  line-height: 4;
  background-color: lightslategrey;
  padding: 0% 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* modal */
.stakingModal .ant-modal-body p:nth-child(1) {
  color:rgba(0, 0, 0, 0.87);
  font-size: 14px;
  margin:0;
} .stakingModal .ant-modal-body p:nth-child(2) {
  margin-bottom: 12px;
  font-size: 12px;
} .stakingModal .ant-modal-body p:last-child {
  margin: 0;
  display: none;
}

.stakingModal .ant-modal-body .ant-select {
  width: 100%;
  margin-bottom: 16px;
}

.ant-modal-footer .ant-btn-primary {
  background: #261BC9 ;
  border: 0;
}

/* error Modal */

.errorModal .ant-modal-body > p {
  color:rgba(0, 0, 0, 0.87);
  font-weight: 500;
  margin-bottom: 16px;
}

.errorModal .ant-modal-body > div {
  background-color: #eeeef0;
  padding: 16px;
}

.errorModal .ant-modal-body > div div {
  display: flex;
}

.errorModal .ant-modal-body > div div svg {
  height: 24px;
  width: 24px;
  padding: 2px;
}

.errorModal .ant-modal-body > div div svg path {
  color: #FC0F1B;
}

.errorModal .ant-modal-body > div div p {
  margin: 1px 0 0 8px;
}

.errorModal .ant-modal-footer a {
  margin-right: 8px;
}