.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  width: 100%;
  height: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(17, 15, 15, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
}

.logoimg {
  height: 100%;
  object-fit: contain;
}

.searchDiv {
  line-height: 4;
  background-color: lightslategrey;
  padding: 0% 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* modal */
.stakingModal .ant-modal-body p {
  margin-bottom: 8px;
}

.stakingModal .ant-modal-body .ant-select {
  width: 100%;
  margin-bottom: 16px;
}

.ant-modal-footer .ant-btn-primary {
  background: #261BC9 ;
  border: 0;
}